body{
    background-color: rgb(20, 20, 20);
}
#logo-main{
    background-color: rgb(63, 19, 121);   
    width: 100%;;
    padding:20px;
}

#logo{
    width:120px;
}
.input{
    
    border: 2px solid rgba(87, 87, 87, 0.089);
    height:40px;
    color:rgb(15, 15, 15);
    background-color:rgb(255, 255, 255);
    font-family: 'Titillium Web', sans-serif;
    
}

.task-main{
    background-color: rgb(8, 10, 48);
   
}
.task-main h3{
    color:rgb(56, 58, 48);
}
.add {
    border: none;
    background: rgb(118, 212, 29);
    height:40px;
    width:56px;
    
}

.add:active {
    color: rgb(65, 163, 65);
    background-color: rgb(184, 196, 220);
}

.remove {
    border: none;
    height: 40px;
    width: 60px;
    background-color: rgba(132, 25, 219, 0);
    color: rgb(230, 20, 83);
   
}
.remove:hover{
    transition: 0.2s;;
    background-color: rgba(17, 29, 78, 0.274);
}
.remove:active{
    background-color: white;
}
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

.output-main{
    background-color: rgb(20, 20, 20);
}
.output {
    font-family: 'Titillium Web', sans-serif;
    color:rgb(236, 206, 172);
    font-size: 18px;
    text-transform:none;
}


.list{
    background-color: rgb(63, 19, 121);    
}